* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-weight: 300;
    color: #111;
}

/* =======================  Navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    transition: 0.5s;
}

header.sticky .logo {
    color: #111;

}

header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header .logo span {
    color: #f00;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
    color: #111;
}

header.navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;

}

header a {
    color: #111; 
}

header a:hover {
    color: #111; 
}

/* header.sticky .navigation li a {

    color: #fff;
} */

header.sticky .navigation li a:hover {

    color: rgb(255, 0, 0);
}

/* =======================  Fin de la navbar */

/* =======================  Image et bouton principal */
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/img/pexels-lukas-669584.jpg);
    background-size: cover;
}

.banner .content {
    max-width: 900px;
    text-align: center;
}

.banner .content h2 {
    font-size: 5em;
    color: #fff;
}

.banner .content p {
    font-size: 1em;
    color: #fff
}

.btn {
    font-size: 1em;
    color: rgb(255, 255, 255);
    background: rgb(255, 0, 0);
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover {
    letter-spacing: 6px;
}

/* =======================  fin Image et bouton principal */

/* =======================  navbar en burger */

@media all and (max-width : 840px) {
    header,

    header.sticky {
        padding: 10px 20px;
        transition: 0.8s;

    }

    header #navigation {
        display: none;
    }

    header #navigation.active {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }

    header .navigation li {
        margin-left: 0;
    }

    header .navigation li {
        color: #111;
        font-size: 2em;
    }

    header.sticky.menuToggle {
        filter: invert(1);
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../assets/img/bars-solid.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        padding-right: 6rem;
    }

    .menuToggle.active {
        background: url(../assets/img/times-solid.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        padding-right: 6rem;
    }

    .banner .content h2 {
        font-size: 3.2rem;
    }

    #imgsport {
        display: none;
    }

}

/* =======================  Fin de la navbar buger*/

/* 
autrecss */
.page-footer {
    background-color: rgba(0, 0, 0, 0.438);
}

#footerMyfit {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

#footerMyfit span {
    color: #f00;
}

h1 {
    font-size: 3rem;
    font-family: 'Finger Paint', cursive;
    color: rgba(0, 0, 0, 0.342);
}

/* reduire taille texte format mobile */
@media all and (max-width: 640px) {
    h1 {
        font-size: 2.3rem;
    }

    .test span {
        margin: 0;
        padding: 0;
        font-size: 80px;
        transition: 0.5s;
        line-height: 1em;
    }

    .test h1 span:nth-child(1):before {

        height: 20px;
    }

    .test h1 span:nth-child(2):before {

        height: 20px;
    }

    .test h1:active span:nth-child(1):before {
        transform: scaleX(1);
    }

    .test h1 span:nth-child(2):before {
        content: '';
        position: absolute;
        top: calc(50% - 15px);
        left: 0;
        width: 60%;
        height: 30px;
        background: #f00;
        transform-origin: left;
        transform: scaleX(0);
        transition: 0.5s;
        z-index: 1;
    }

    .test h1:active span:nth-child(2):before {
        transform: scaleX(1);
    }

    h1 span hide {
        transition: 0.5s;
        transition-delay: 1s;
    }

    h1:active span hide {
        transition-delay: 1s;
        color: #f00;
        opacity: 0;
    }

    h1:active span:nth-child(1) hide {
        padding-right: 30px;
    }

    h1:active span:nth-child(2) hide {
        padding-right: 40px;
    }

}

:focus

/* fin reduire taille texte format mobile */
h2 {
    font-size: 3rem;
    font-family: 'Finger Paint', cursive;
    color: rgba(0, 0, 0, 0.342);
}

h3 {
    font-size: 3rem;
    font-family: 'Finger Paint', cursive;
    color: rgba(0, 0, 0, 0.342);
}


p {
    font-family: 'Baloo Da 2', cursive;
}


/* =======================  animation do it */

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;

}

.test h1 {
    margin: 0;
    padding: 0;
    font-size: 10em;
    transition: 0.5s;
    line-height: 1em;
}

.test h1 span {
    position: relative;
    text-transform: uppercase;
    display: block;
    transition: 0.5s;
    color: black;
    font-family: 'Times New Roman', Times, serif
}

.test h1 span:nth-child(1):before {
    content: '';
    position: absolute;
    top: calc(50% - 15px);
    right: 0;
    width: 50%;
    height: 30px;
    background: #f00;
    transform-origin: right;
    transform: scaleX(0);
    transition: 0.5s;
    z-index: 1;
}

.test h1:hover span:nth-child(1):before {
    transform: scaleX(1);
}

.test h1 span:nth-child(2):before {
    content: '';
    position: absolute;
    top: calc(50% - 15px);
    left: 0;
    width: 60%;
    height: 30px;
    background: #f00;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.5s;
    z-index: 1;
}

.test h1:hover span:nth-child(2):before {
    transform: scaleX(1);
}

h1 span hide {
    transition: 0.5s;
    transition-delay: 1s;
}

h1:hover span hide {
    transition-delay: 1s;
    color: #f00;
    opacity: 0;
}

h1:hover span:nth-child(1) hide {
    padding-right: 30px;
}

h1:hover span:nth-child(2) hide {
    padding-right: 40px;
}

/* =======================  fin de l'animation do it */

.contentQuiSommeNous {
    display: flex;
    justify-content: space-between;
}

.headQuiSOmmeNous h2 {
    color: #111;
    font-family: 'Finger Paint', cursive;
}

.headQuiSOmmeNous span {
    color: #f00;
    font-family: 'Finger Paint', cursive;
}

.contentBx {
    padding-right: 30px;
}

.contentBX h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Finger Paint', cursive;
}

.w50 {
    min-width: 50%;
}

#imgsport {
    max-width: 100%;
}

.titreFooter {
    color: #111;
}




/*Gallery Section*/

.gallery .content {
    -webkit-display: flex;
    display: flex;
    flex-wrap: wrap;
}

.gallery .content .box {
    flex: 0 0 50%;
    max-width: 50%;
}

.gallery .content .box img {
    display: block;
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.gallery .content .box img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.gallery h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #000000;
    padding: 0px 0px 20px;
    text-align: center;
    font-family: 'Finger Paint', cursive;
}

.gallery span {
    color: #f00;
    font-family: 'Finger Paint', cursive;
}

/*Responsive*/

/*if screen width is less than or equal to 991px then*/
@media(max-width: 991px) {

    .classes .content {
        flex-wrap: wrap;
    }

    .classes .content .box {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .classes .content .img {
        display: none;
    }

    .start-today .content .box {
        padding: 15px;
    }
}

/*if screen width is less than or equal to 767px then*/
@media(max-width: 767px) {
    .start-today .content .box {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .gallery .content {
        flex-wrap: wrap;
    }

    .gallery .content .box {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .gallery .content .box img:active {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}